#backgroundAjax {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}

#ajaxLoader {
    position: fixed;
    top: 50%;
    right: 50%;
    z-index: 9999;
}

.myCardImg {
  height: 250px;
  width: 250px;
}
